---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

            {% include _social_buttons.html %}        
        </div>
    </section>
</div>


<article class="container">

{% assign curDate = site.time | date: '%s' %}
{% for post in site.categories.events reversed %}
    {% assign postStartDate = post.event.date | date: '%s' %}
    {% if postStartDate >= curDate %}
    <!-- Page content goes here --> 
    <section class="index">
      <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
      <div>
        <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <div class="meta">
          <!--Written By <address>{{ post.author.name }}</address> &mdash;-->
          <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
      </div>
      <hr>
    </section>
    {% break %}
    {% endif %}
{% endfor %}

</article>
