{% if site.inc.twitter %}
<a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter{% if include.color %} black{% endif %}"></i></a>
{% endif %}
{% if site.inc.facebook %}
<a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook{% if include.color %} black{% endif %}"></i></a>
{% endif %}
<a href="http://www.pinterest.com/agileiowa/" title="Follow on Pinterest" target="_blank"><i class="icon icon-pinterest{% if include.color %} black{% endif %}"></i></a>
<a href="/feed.xml" title="RSS Feed"><i class="icon icon-rss{% if include.color %} black{% endif %}"></i></a>
